/* 1.) add google font */


.root{
    /* font-family: ; */
    display: grid;
    font-family: "Trirong", serif;
    width: 100%;
}

.header{
 display: grid;
 margin: auto;
 width: 100%;
 background-color: grey;
 color: #2b2727;
 text-align: center;
 font-size: large;
 box-sizing: border-box; 
 border: 5px;
 border-style: solid;
 border-color: black;
 /* justify-content: space-evenly; */
 /* z-index: -1; */
}

.nbar{
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(12, 185, 35);
    align-items: flex-end;
    width: 100%;
    font-size: 24px;
    flex-wrap: wrap;
}

.nbar a:hover{
    background-color: rgb(26, 212, 236);
    color: black;
}
    
.banner{
    margin: auto;
    display: flex;
    width: 100%;
    background-color: grey;
    color: #2b2727;
    text-align: center;
    font-size: large;
    justify-content: space-evenly;
    /* z-index: -1; */
}

/* .svg{
    display: flex;
    justify-content: start;
    z-index: 0;
    animation-name: rainbow;
    animation-duration: 5s;
    background-color: blueviolet;
} */


.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    /* right: 728px; */
    justify-content: center;
    width: 100%;
    background-color: rgb(231, 116, 116);
}

.hbox1{
    text-align: center;
    background-color: rgb(47, 138, 145);
    margin: auto;
    width: 100%;
    margin-top: 2em;
    align-items: center;
    display: flex;
}

    .body{
        display: grid;
        background-color: blue;
        width: 100%;
    }

    .pictures{
        display: flex;
        flex-wrap: wrap;
        background-color: #2b2727;
        width: 100%;
    }

    .body-top{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        background-color: rgb(155, 208, 255);
    }

    .bitem1{
        display: flex;
        background-color: purple;
        width: 48%;
        height:300px;
        box-sizing: border-box; 
        border: 5px;
        border-style: solid;
        border-color: black;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
    }
    
    .bitem2{
        display: flex;
        width: 48%;
        height:300px;
        box-sizing: border-box;
        border: 5px;
        border-style: solid;
        border-color: black;
        background-color: rgb(127, 28, 173);
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px
    }

.body-bot{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(131, 151, 15);
}

    .bitem3{
        width: 96%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        border: 5px;
        border-style: solid;
        border-color: black;
        background-color: rgb(5, 65, 45);
    }

    /* .caption{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    } */

    .videos{
        display: flex;
        width: 100%;
        background-color: brown;
        justify-content: center;
        box-sizing: border-box;
        border: 5px;
        border-style: solid;
        border-color: black;
        margin-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .table{
        display: flex;
        justify-content: center;
        background-color: antiquewhite;
    }

    table, th, td {
        border: 1px solid;
    }

    th, td {
        width: 30%;
        text-align: center;
    }

    table {
        width: 75%;
    }

    .roadmap {
        background-color:rgb(14, 110, 70) ;
        display: flex;
        justify-content: center;
    
    }

    .footer{
        display: grid;
        background-color: green;
    }
    
    .contact-info{
        display: flex;
        background-color: rgb(112, 63, 114);
        flex-wrap: wrap;
        align-items: flex-end;
        width: 100%;
        box-sizing: border-box;
        border: 5px;
        border-style: solid;
        border-color: black;
    }
    
@media(max-width:527px){
    .bitem1{
        width:100%
    }

    .bitem2{
        width:100%
    }

    .root{
        display: grid;
        width: 100%;
        grid-template-rows: 1fr;
    }
}

@media(max-width:283px){
    .bitem1{
        width:100%
    }

    .bitem2{
        width:100%
    }

    .bitem3{
        width: 100%;
    }

    /* .root{
        display: grid;
        width: 100%;
        grid-template-rows: 1fr;
    } */

    .banner{
        display: block;
    }

    .nbar{
        display: block;
        flex-wrap: wrap;
        flex: auto;
    }

    .body-top{
        display: block;
    }

    .body-bot{
        display: block;
    }

    .videos{
        display: block;
    }

    .table{
        display: block;
    }
}