/* 1.) add google font */


.root{
    /* font-family: ; */
}

.header{
 display: grid;
 background-color: red;
}

.body{
    display: grid;
    background-color: blue;
}

.footer{
    display: grid;
    background-color: green;
}

.bitem1{
    display: flex;
    background-color: purple;
}